
numpy 
pandas
seaborn
matplotlib
plotly
scipy
scikit-learn
yellowbrick
tabulate 

tensorflow
pandas 
dvc
mlflow
notebook
matplotlib
seaborn
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
scipy
Flask
Flask-Cors
gdown
-e .